@model ModelEF.Model.Product

@{
    ViewBag.Title = "Tạo mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section header{
    <i class="fa fa-save"></i>&nbsp; Tạo mới sản phẩm
}
@using (Html.BeginForm("Create", "SanPham", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="col-lg-12 form-group">
            <div class="col-md-6">
                @Html.ActionLink("Quay lại", "Index", "SanPham", new { @class = "btn btn-primary" })
            </div>

        </div>
        
        
 
        <div class="col-lg-12 form-group">
            <div class="form-group">
                <label class="col-md-2">ID</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ID, new { @class = "form-control" ,@Value="7" ,@step="1", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Tên sản phẩm</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name,  new { @class = "form-control", @placeholder = "Nhập tên sản phẩm"  })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Đơn giá</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UnitCost,  new { @class = "form-control", @placeholder = "Nhập đơn giá", @type="number" })
                    @Html.ValidationMessageFor(model => model.UnitCost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Số lượng</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @placeholder = "Nhập số lượng" ,@type="number" })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2">Loại sản phẩm</label>
                <div class="col-md-10">
                    <div style="width: 857px; height: 30px; border-radius: 5px;">
                        @{ Html.RenderAction("ChooseCategory", "SanPham");}
                    </div>
                    @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo Mới" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}